body{
    background: linear-gradient(to top right , #dd5e89 , #f7bb97 );
    height: 150vh;
}


.githublink_detsum {
    text-decoration:unset;
    color: #fff;;
}
.githublink_detsum:hover{
    color: aqua;
}
.githublink_detsum:visited{
    color:rgb(114, 231, 114);
}

.githublink_detsum:hover{
    color: aqua;
}


    button {
    
        font-size: 20px;
        font-weight: inherit;
        padding: 1.5rem 2rem;
        margin: 10px;
       border:none;
       background-color: #fff;
        color: #444;
        backdrop-filter: blur(20px);
        cursor: pointer;
        border-radius: 50%;
      
}

button:hover{
    background-color: aquamarine;
    transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}
/* button:visited{
    background-color: transparent;
} */


.src{
    font-size: 35px;
    color: #444;
    font-style: italic;
    font-family: Franklin Gothic Medium bold;
}
header{
    font-size: 40px;
    font-family: Verdana bold sans-serif;
    font-style: italic ;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 13px;
    color: #444;
}

.msg{
    height: 100px;
    width: 60%;
    color: aqua;
}
.readBefore {
    font-family: Lucida Sans;
    border : 3px solid transparent;
 color: #444;
 cursor: pointer;   
}

.summary:hover , .readBefore:hover{
    color :rgb(40, 100, 93);
}

.summary{
color: bisque;
}



.details{
    border: 3px solid #fff;
    border-radius: 50px;
padding-left: 50px;
padding-right:15px;
padding-top: 15px;
padding-bottom: 15px;   

margin-left: 30px; 
width: 700px;
align-items: center;

color:#444;
}
