body {
    font-family: sans-serif;
    color: #333;
    line-height: 1.5;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background:linear-gradient(to top left ,#28b487, #7dd56f);

}
h1{
text-align: center;
text-shadow: #7dd56f;
}

